.display-linebreak {
  white-space: pre-line;
}

div.pullUp a:before
{
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0px;
    bottom: 0px;
    content: '';
    background: #FFF;
    opacity: 0.3;
    transition: all 0.3s;
}

div.pullUp a:hover:before
{
    height: 100%;
}

div.container a
{
    color: #FFF;
    text-decoration: none;
    margin: 0px 10px;
    padding: 10px 10px;
    position: relative;
    z-index: 0;
    cursor: pointer;
}

.icon-bar {
	width: 22px; 
	height: 2px;
	background-color: white;
	display: block;
	transition: all 0.2s;
  margin-top: 4px;
}
 
.navbar-toggler {
  background: transparent !important;
}

.navbar-toggler .top-bar {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
}
 
.navbar-toggler .middle-bar {
  opacity: 0;
}
 
.navbar-toggler .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 10% 90%;
}
 
.navbar-toggler.collapsed .top-bar {
  transform: rotate(0);
}
 
.navbar-toggler.collapsed .middle-bar {
  opacity: 1;
}
 
.navbar-toggler.collapsed .bottom-bar {
  transform: rotate(0);
}

.laptop {
    margin-top: 2%;
    z-index: 0;
}

.tab{
    margin-top: 9%;
    position: absolute;
    z-index: 10;
}

.phone{ 
    margin-top: 16%;
    position: absolute;
    z-index: 10;
}


  @import url('https://fonts.googleapis.com/css?family=Mukta:700');
 * {
	 box-sizing: border-box;
}
 *::before, *::after {
	 box-sizing: border-box;
}

 button {
	 position: relative;
	 display: inline-block;
	 cursor: pointer;
	 outline: none;
	 border: 0;
	 vertical-align: middle;
	 text-decoration: none;
	 background: transparent;
	 padding: 0;
	 font-size: inherit;
	 font-family: inherit;
}
 button.learn-more {
	 width: 12rem;
	 height: auto;
}
 button.learn-more .circle {
	 transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
	 position: relative;
	 display: block;
	 margin: 0;
	 width: 3rem;
	 height: 3rem;
	 background:  #195e83;
	 border-radius: 1.625rem;
}
 button.learn-more .circle .icon {
	 transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
	 position: absolute;
	 top: 0;
	 bottom: 0;
	 margin: auto;
	 background: #fff;
}
 button.learn-more .circle .icon.arrow {
	 transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
	 left: 0.625rem;
	 width: 1.125rem;
	 height: 0.125rem;
	 background: none;
}
 button.learn-more .circle .icon.arrow::before {
	 position: absolute;
	 content: '';
	 top: -0.25rem;
	 right: 0.0625rem;
	 width: 0.625rem;
	 height: 0.625rem;
	 border-top: 0.125rem solid #fff;
	 border-right: 0.125rem solid #fff;
	 transform: rotate(45deg);
}
 button.learn-more .button-text {
	 transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
	 position: absolute;
	 top: 0;
	 left: 0;
	 right: 0;
	 bottom: 0;
	 padding: 0.75rem 0;
	 margin: 0 0 0 1.85rem;
	 color: #282936;
	 font-weight: 700;
	 line-height: 1.6;
	 text-align: center;
	 text-transform: uppercase;
}
 button:hover .circle {
	 width: 100%;
}
 button:hover .circle .icon.arrow {
	 background: #fff;
	 transform: translate(1rem, 0);
}
 button:hover .button-text {
	 color: #fff;
}
 @supports (display: grid) {
	 #container {
		 grid-area: main;
		 align-self: center;
		 justify-self: center;
	}
}
 
.scroll-up {
  height: 40px;
  width: 40px;
  display: block;
  outline: 1px solid rgba(666, 666, 666, .08);
  position: relative;
  cursor: pointer;
  transition: all 0.5s cubic-bezier(0.25, 1.7, 0.35, 1.5);
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}
.scroll-up svg line {
  stroke-width: 1;
  stroke: white;
  fill: none;
  stroke-dasharray: 20;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.scroll-up:hover svg line.top {
  -webkit-transform: translateX(-40px);
  transform: translateX(-40px);
}
.scroll-up:hover svg line.bottom {
  -webkit-transform: translateX(40px);
  transform: translateX(40px);
}
.scroll-up:hover svg line.left {
  -webkit-transform: translateY(40px);
  transform: translateY(40px);
}
.scroll-up:hover svg line.right {
  -webkit-transform: translateY(-40px);
  transform: translateY(-40px);
}
.scroll-up .left-bar {
  position: absolute;
  z-index: 1;
  background-color: transparent;
  top: 19px;
  left: 5px;
  width: 18px;
  display: block;
  transform: rotate(-45deg);
}
.scroll-up .left-bar:after {
  content: "";
  background-color: white;
  width: 18px;
  height: 1px;
  display: block;
  border-radius: 1px;
  transition: all 0.5s cubic-bezier(0.25, 1.7, 0.35, 1.5);
  transform-origin: right center;
  z-index: -1;
}
.scroll-up .right-bar {
  position: absolute;
  z-index: 1;
  background-color: transparent;
  top: 19px;
  left: 17px;
  width: 18px;
  display: block;
  transform: rotate(45deg);
  border-radius: 2px;
}
.scroll-up .right-bar:after {
  content: "";
  background-color: white;
  width: 18px;
  height: 1px;
  display: block;
  border-radius: 1px;
  transition: all 0.5s cubic-bezier(0.25, 1.7, 0.35, 1.5);
  transform-origin: left center;
  z-index: -1;
}
.scroll-up:hover {
  transition: all 0.1s;
}
.scroll-up:hover .left-bar:after {
  transform: rotate(-10deg);
}
.scroll-up:hover .right-bar:after {
  transform: rotate(10deg);
}
.arrow-up {
  height: 40px;
  width: 40px;
  display: block;
  border: 1px solid white;
  position: relative;
  cursor: pointer;
  transition: all 0.5s cubic-bezier(0.25, 1.7, 0.35, 1.5);
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}
.arrow-slide {
  left: 0;
  top: -100%;
  width: 100%;
  height: 100%;
  background: white;
  position: absolute;
  display: block;
  z-index: 0;
}
.left-arm {
  position: absolute;
  z-index: 1;
  background-color: transparent;
  top: 19px;
  left: 3px;
  width: 20px;
  display: block;
  transform: rotate(-45deg);
}
.left-arm:after {
  content: "";
  background-color: white;
  width: 20px;
  height: 1px;
  display: block;
  border-radius: 1px;
  transition: all 0.5s cubic-bezier(0.25, 1.7, 0.35, 1.5);
  transform-origin: right center;
  z-index: -1;
}
.right-arm {
  position: absolute;
  z-index: 1;
  background-color: transparent;
  top: 19px;
  left: 17px;
  width: 20px;
  display: block;
  transform: rotate(45deg);
  border-radius: 2px;
}
.right-arm:after {
  content: "";
  background-color: white;
  width: 20px;
  height: 1px;
  display: block;
  border-radius: 1px;
  transition: all 0.5s cubic-bezier(0.25, 1.7, 0.35, 1.5);
  transform-origin: left center;
  z-index: -1;
}
.arrow-up:hover {
  transition: all 0.1s;
}
.arrow-up:hover .left-arm:after {
  transform: rotate(-10deg);
}
.arrow-up:hover .right-arm:after {
  transform: rotate(10deg);
}
.arrow-up:hover .arrow-slide {
  transition: all 0.4s ease-in-out;
  transform: translateY(200%);
}

/* .wrapper {
  width: 500px;
  margin: 0 auto;
  position: relative;
  text-align: center;
} */
/* .h3 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 6rem;
  position: relative; */
 /* display:inline-block;
  */
  /* color: transparent;
  margin-bottom: 0; */
 /*span {
    display:block;
    transition:all 0.3s;
    &:hover:before {
   }
    &:hover:after {
      top:14px;
      cursor:pointer;
   }
 }
 */
/* }
.h3:before {
  content: "BRISKWEB";
  position: absolute;
  top: 0px;
  left: 22px;
  color: gray;
  clip-path: inset(0px 298px 0px 0px);
  transition: all 0.3s;
}
.h3 span:before {
  content: "BRISKWEB";
  position: absolute;
  top: 0px;
  left: 22px;
  color: gray;
  clip-path: inset(0px 200px 0px 154px);
  transition: all 0.3s;
}
.h3:after {
  content: "BRISKWEB";
  position: absolute;
  right: 24px;
  top: 0px;
  color: silver;
  clip-path: inset(0px 100px 0px 250px);
  transition: all 0.5s;
}
.h3 span:after {
  content: "BRISKWEB";
  position: absolute;
  right: 24px;
  top: 0px;
  color: silver;
  clip-path: inset(0px 0px 0px 353px);
  transition: all 0.5s;
}
.h3:hover:after {
  top: 10px;
  cursor: pointer;
  color: gray;
}
.h3:hover:before {
  top: -10px;
  left: 0px;
  cursor: pointer;
  color: silver;
}
.h3:hover span:before {
  top: 4px;
  cursor: pointer;
  color: silver;
}
.h3:hover span:after {
  top: -8px;
  left: 30px;
  cursor: pointer;
  color: gray;
}
.h3 {
  color: #195e83;
} */


.card1 {
    width: 280px;
    height: 360px;
    border-radius: 15px;
    padding: 1.5rem;
    background: white;
    position: relative;
    display: flex;
    align-items: flex-end;
    transition: 0.4s ease-out;
    box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
}

.card1:hover {
    transform: translateY(20px);
}

.card1:hover:before {
    opacity: 1;
}

.card1:hover .info {
    opacity: 1;
    transform: translateY(0px);
}

.card1:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    background: rgba(0, 0, 0, 0.6);
    z-index: 2;
    transition: 0.5s;
    opacity: 0;
}

.card1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 15px;
}

.card1 .info {
    position: relative;
    z-index: 3;
    color: white;
    opacity: 0;
    transform: translateY(30px);
    transition: 0.5s;
}

.card1 .info h1 {
    margin: 0px;
}

.card1 .info p {
    letter-spacing: 1px;
    font-size: 15px;
    margin-top: 8px;
}

.card1 .info button {
    padding: 0.6rem;
    outline: none;
    border: none;
    border-radius: 3px;
    background: white;
    color: black;
    font-weight: bold;
    cursor: pointer;
    transition: 0.4s ease;
}

.card1 .info button:hover {
    background: #195e83;
    color: white;
}
